<footer>
  <nav>
      <a href='https://programmers.co.kr/' target='_blank'>프로그래머스</a> 
      <a href='https://github.com/' target='_blank'>Github</a>
  </nav>
  <p>
      <span>Copyright 2024. programmers. All Rights Reserved.</span>
      <span>서울시 강남구 역삼동</span>
      <span>02-1234-5678</span>
  </p>
</footer>

</body>
</html>