<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blog</title>
  <meta name="description" content="My first application using Node.js, Express and MongoDB">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">   
    <!-- 헤더 : 로고, 상단 메뉴, 로그인 -->
    <header class="header">
      <!-- 로고 -->
      <a href="/" class="header-logo"><img src="/img/programmers-logo-dark.png" alt="" width="100px"></a>

      <!-- 상단 메뉴 -->
      <nav class="header-nav">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/member_list">회원 목록</a>
          </li>
        </ul>
      </nav>

      <!--로그인부-->
      <%if(loginMember){%>
        <div style="text-align: center;">
          <b><%=loginMember.membername%>(<%=loginMember.memberid%>)</b><br>
          <a href="/logout">logout</a> 
        </div>
      <%}%>
      
      <%if(!loginMember){%>
        <div class="header-button">
          <a href="/member_regist">회원가입</a>
          &nbsp;
          <a href="/login">로그인</a> 
        </div>
      <%}%>

    </header>